<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>fileManagement</display-name>
  
   <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 自定义拦截器 -->
  <!-- <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>com.yfl.web.fillter.SessionFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/superAdministrator/*</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
   -->
  <!-- 失效时间 -->
 <!--  <session-config>
  <session-timeout>30</session-timeout>
  </session-config> -->
  
  <welcome-file-list>
    <welcome-file>default.do</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet -->
  <servlet>
    <description></description>
    <display-name>TreeServlet</display-name>
    <servlet-name>TreeServlet</servlet-name>
    <servlet-class>com.yfl.web.servlet.TreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreeServlet</servlet-name>
    <url-pattern>/TreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TreeChildrenServlet</display-name>
    <servlet-name>TreeChildrenServlet</servlet-name>
    <servlet-class>com.yfl.web.servlet.TreeChildrenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TreeChildrenServlet</servlet-name>
    <url-pattern>/TreeChildrenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelFolderServlet</display-name>
    <servlet-name>DelFolderServlet</servlet-name>
    <servlet-class>com.yfl.web.servlet.DelFolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelFolderServlet</servlet-name>
    <url-pattern>/DelFolderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppendNodeServlet</display-name>
    <servlet-name>AppendNodeServlet</servlet-name>
    <servlet-class>com.yfl.web.servlet.AppendNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppendNodeServlet</servlet-name>
    <url-pattern>/AppendNodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppendFolderServlet</display-name>
    <servlet-name>AppendFolderServlet</servlet-name>
    <servlet-class>com.yfl.web.servlet.AppendFolderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppendFolderServlet</servlet-name>
    <url-pattern>/AppendFolderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RenameFileServlet</display-name>
    <servlet-name>RenameFileServlet</servlet-name>
    <servlet-class>com.yfl.web.servlet.RenameFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RenameFileServlet</servlet-name>
    <url-pattern>/RenameFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultTreeServlet</display-name>
    <servlet-name>DefaultTreeServlet</servlet-name>
    <servlet-class>com.yfl.web.servlet.DefaultTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultTreeServlet</servlet-name>
    <url-pattern>/DefaultTreeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.yfl.web.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
</web-app>